@font-face {
	font-family: 'InstrumentSerif';
	font-style: normal;
	font-weight: 400;
	src: url('../../public/fonts/InstrumentSerif-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'InstrumentSerif';
	font-style: italic;
	font-weight: 400;
	src: url('../../public/fonts/InstrumentSerif-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'InstrumentSans';
  font-style: normal;
  font-weight: 100 900;
  src: url('../../public/fonts/InstrumentSans-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'InstrumentSans';
  font-style: italic;
  font-weight: 100 900;
  src: url('../../public/fonts/InstrumentSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'GeistMono';
  font-style: normal;
  font-weight: 100 900;
  src: url('../../public/fonts/GeistMono-VariableFont_wght.ttf') format('truetype');
}

/**
/* i set the font-family as css variables so that i can easily change the font-family
/* in the future without having to change the font-family in all the classes
/* i can just change the font-family in the root element
**/

:root {
	--font-instrument-serif: 'InstrumentSerif', serif;
	--font-instrument-sans: 'InstrumentSans', sans-serif;
	--font-geist-mono: 'GeistMono', monospace;
}

/**
/* to use as classes, i have set the font-family using tailwind classes
/* for example, to use the GTAlpinaTrial-MediumItalic font, you can use the class font-gtalpina-medium-italic
/* in your html file
/* <p class="font-gtalpina-medium-italic">This is a paragraph</p>
/*
/* to use as a utility class, you can use the font-family utility class
/* <p class="font-gtalpina-medium-italic">This is a paragraph</p>
**/
