:root {
	--font-size-xs: 16px;
	--font-size-s: 24px;
	--font-size-m: 32px;
	--font-size-l: 36px;
	--font-size-xl: 48px;
	--font-size-2xl: 64px;
	--font-size-3xl: 82px;
	--font-size-4xl: 94px;
	--font-size-5xl: 124px;
}
* {
	font-kerning: none;

}

.title {
	font-family: var(--font-instrument-serif);
	font-size: clamp-font(28, 40, 500, 1920);
	line-height: 1.1;
}

h1,
.h1 {
	font-family: var(--font-instrument-serif);
	font-weight: 400;
	line-height: 1.2;
	font-size: clamp-font(48, 82, 500, 1920);
}

h2,
.h2 {
	font-family: var(--font-instrument-serif);
	font-size: clamp-font(80, 82, 500, 1920);

	font-weight: 400;
	line-height: 1.1;
}

.h3,
h3 {
	font-family: var(--font-instrument-sans);
	font-weight: 300;
	line-height: 1.2;
	font-size: clamp-font(12, 32, 768, 1920);
}

.h4,
h4 {
	font-family: var(--font-geist-mono);
	// font-size: var(--font-size-l);
	font-size: clamp-font(18, 24, 768, 1920);
	font-weight: 400;
	line-height: 1.2;
}

.h3,
h3 {
	font-family: var(--font-instrument-serif);
	font-weight: 300;
	line-height: 1.2;
	font-size: clamp-font(18, 48, 768, 1920);
}

.h5,
h5 {
	font-family: var(--font-instrument-sans);
	font-weight: 300;
	line-height: 1.2;
	font-size: clamp-font(18, 30, 768, 1920);
}

.h5 i,
h5 i,
.h5 em,
h5 em {
	font-family: var(--font-instrument-serif);
	font-style: italic;
}

h6 {
	font-family: var(--font-geist-mono);
	font-size: clamp-font(20, 18, 768, 1920);
}

.link {
	display: inline;
	transition: all 0.7s ease;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;

	& > span {
		align-items: flex-end;
		font-size: inherit;
		line-height: inherit;
		font-weight: inherit;
		position: relative;
		transition: inherit;
		background-image: linear-gradient(180deg, transparent 92%, white 0);
		background-size: 100% 100%;
		transition: all 0.3s ease;
		background-position: 0 100%;
		background-repeat: no-repeat;
	}

	&:hover {
		* {
			color: var(--color-neon-green);
		}

		& > span {
			background-image: linear-gradient(
				180deg,
				transparent 92%,
				var(--color-neon-green) 0
			);
		}
	}
}

.link-animation {
	&:hover {
		& > span {
			background-size: 0% 100%;
		}
	}
}
