@import '../../styles/functions.scss';
.contact {
	background-color: var(--color-vermilion);

	* {
		color: var(--color-azure);
	}
	.contact-wrapper {
		padding: clamp-font(40, 160, 500, 1920) clamp-font(36, 240, 500, 1920);
		display: flex;
		flex-direction: column;
		gap: clamp-font(24, 80, 500, 1920);
		align-items: center;

		p {
			color: var(--color-azure);
		}
	}

	.link {
		button {
			font-size: inherit;
            padding: 0;
            margin-right: 10px;
		}
	}
}
