
.col-top {
    max-width: 96vw;
    min-height: 10vh;
    display: flex;
    color: var(--pale-blue);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 1s ease-in;
    background-color: var(--vermilion);
  }


  .col-top:has(.expanded) {
    animation: 1s move_in ease-in;
  }

.button-pill-easter-egg{
    background-color: transparent;
    color: var(--pale-blue);
    border: 2px solid var(--pale-blue);
    cursor: pointer;
    border-radius: 33.5px;
    height: 50px;
    width: 255px;
    text-align: center;
    vertical-align: middle;
    border-radius: 33.5px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    -webkit-transition: .15s ease-in-out;
    -moz-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
    padding-left:.85vw;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
  }

.button-pill-easter-egg span {
    text-align: center;
}

.googley-eyes {
    height: 100%;
    background-color: var(--pale-blue);
    width: 77px;
    border-radius: inherit;
    display: flex;
 
}

.googley-eyes img {
    justify-content: center;
    align-items: center;
}

.phone {
    width: 4vw;
    margin: 0vw 1.05vw;
}


.app_inner__tab{
    display: flex;
    width:100%;
    height:0px;
    cursor:pointer;
    overflow:hidden;
    transition:all .65s cubic-bezier(1,0,.41,1.01)
    
}

.expanded {
    margin-top: 10px;
    height:40vh;
    border-radius: 0px 0px 20px 20px;

}

.expanded-text {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    align-content: center;
    justify-content: space-evenly;
    transform:translateY(-8h);
    transition: opacity, transform .5s .5s cubic-bezier(.455,.03,.515,.955)
}

.expanded .expanded-text {
    opacity: 100%;
    transform: translateY(0vh);
}

.expanded-text-transition {
    opacity: 0%;
    transition:.6s all;
    transform: translateY(-5vh);
    

}


@keyframes move_in{
    0%{
        background-color: var(--neon-green);
    } 
    90%{
        background-color: var(--vermilion);
    }
}



.mouse-area {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  
  .eyes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .eye {
    border-radius: 50%;
    height: 19px;
    width: 19px;
    border: 1.5px solid var(--vermilion);
    background-color: transparent;
  }
  .eye:after {
    /*pupil*/
    position: absolute;
    top: 0;
    left: calc(50% - 5px);
    width: 12px;
    height: 12px;
    background:  var(--vermilion);
    border-radius: 50%;
    content: "";
  }
