
.citymapper_-vancouver_final_highres {
    align-items: flex-end;
    background-color: #ff4501d9;
    border-radius: 60px;
    display: flex;
    height: 671px;
    overflow: hidden;
    padding: 0 132px;
    width: 864px;
  }
  
  .citymapper-container {
    width: 700px;
    height: 500px;
    background-color: var(--vermilion);
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 700px;
    height: 500px;
    background-color: var(--vermilion);
    border-radius: 36px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 55px; 
    
  }
  
  .citymapper_-vancouver_final_highres-1 {
    height: 450px;
  }
  
  .citymapper_-vancouver_final_highres-2 {
    background-color: #ff450180;
    border: 1px solid;
    border-color: #96969680;
    border-radius: 36px;
    height: 774px;
    width: 1216px;
  }
  
  .path-2 {
    height: 560px;
    left: 1892px;
    opacity: 0.43;
    position: absolute;
    top: 1114px;
    width: 813px;
  }
  
  .read {
    color: var(--vermilion);
    font-family: var(--font-family-cheee-jimbo);
    font-size: var(--font-size-s);
    font-weight: 500;
    left: 2705px;
    letter-spacing: 0;
    line-height: 61px;
    position: absolute;
    top: 3432px;
    width: 374px;
  }
  
  .recent-work-recent-w {
    color: var(--vermilion);
    font-family: var(--font-family-cheee-jimbo);
    font-size: var(--font-size-xxxxl);
    font-weight: 500;
    letter-spacing: 0;
    line-height: 158px;
    width: 3109px;
    top: 0;
    left: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    animation: marquee 30s linear infinite;
  }



  .line {
    width: 100%;
    border: 1px solid var(--vermilion);
    color: var(--vermilion);
    fill: var(--vermilion);
  }
  
  .recentwork-subtitle {
    margin-bottom: 60px;
  }
  
      .horizontal-ticker {
        display: flex;
        align-items: center;
        height: 6em;
        text-decoration: none;
        white-space: nowrap;
        color:var(--pale-blue);
        background-color: var(--purple);
      }
      .horizontal-ticker:hover {
        background: var(--neon-green);
        color: var(--vermilion);
      }

      .horizontal-ticker svg {
        fill: aquamarine;
      }
      .horizontal-ticker:hover svg {
        fill:white;
      }
      .horizontal-ticker-title {
        list-style: none;
        line-height: 1;
        font-weight: 400;
        margin: 0;
        position: absolute;
        display: flex;
      }
    
      #home-programme-mirage-creative-title {
        -webkit-animation: backward-infinite 10s linear infinite;
        animation: backward-infinite 10s linear infinite;
      }
      .has-intersection .horizontal-ticker-title {
        animation-play-state: paused !important;
      }
      .has-intersection .is-in-view .horizontal-ticker-title {
        animation-play-state: running !important;
        will-change: transform;
      }
      .horizontal-ticker-link:hover .horizontal-ticker-title,
      .has-intersection
        .is-in-view
        .horizontal-ticker-link:hover
        .horizontal-ticker-title {
        animation-play-state: paused !important;
      }
  
    @media screen and (orientation: portrait) {
      .horizontal-ticker {
        font-size: 12.5vw;
      }
    }
    @media print {
      h4 {
        font-family: var(--font-family-cheee-jimbo);
      }
      h4 {
        font-size: 12pt;
      }
      a {
        text-decoration: none;
        color: #000;
      }
    }
  /*! CSS Used keyframes */
  @keyframes backward-infinite {
    0% {
      transform: translate3D(0, 0, 0);
    }
    100% {
      transform: translate3D(calc((-100% / 3) - 0.125em), 0, 0);
    }
  }
  
  .lessfeatured-title {
    width: 50%;
    height: 156px;
    background-color:var(--vermilion);
    border-radius: 64px;
    border-style: solid;
    border-width: 0px;
    box-sizing: border-box;
  }
  
  .line-2 {
    height: 26px;
    left: 1388px;
    position: absolute;
    top: 3628px;
    width: 1800px;
  }
  
  .flower-1 {
    background-size: 100% 100%;
    height: 83px;
    left: 2247px;
    position: absolute;
    top: 2564px;
    transform: rotate(-10deg);
    width: 125px;
  }
  
  .image-1 {
    height: 115px;
    position: absolute;
    width: 115px;
    margin: 20px;
  }
  
  .works-by-alexander-n {
    color: var(--vermilion);
    font-family: var(--font-family-gteestidisplaytrial-md);
    font-size: 76px;
    font-weight: 500;
    left: 0;
    letter-spacing: -1.00px;
    line-height: 88px;
    position: absolute;
    top: 2619px;
    width: 1565px;
  }
  
  .rectangle-3 {
    border: 6px solid;
    border-color: var(--vermilion);
    height: 189px;
    left: 1278px;
  }

.g_Misfits_30082019_Shot_7_403 {
  border-radius: 40px;
  display: flex;
  align-self: center;
  overflow: hidden;
  height: 500px;
  margin: auto;
  width: 45vw;
  
}

.g_-misfits_30082019_-shot_7_403-1 {
  width: 45vw;
  height: 500px;
  margin: auto;
}

.featured-description {
  font-weight: 300;
  letter-spacing: 0;
  line-height: 48px;
  max-width: 80%;
}

.quotes {
  max-width: 80%;
}

.row-1 {
  padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 96%;
    border-radius: 30px;
    height: 80vh;
}

.blogh-red {
  color: var(--vermilion);
  line-height: 60px;
  white-space: pre-line;
}


.blogh-smaller-title {
  font-family: var(--font-family-blogh);
  line-height: 60px;
  white-space: pre-line;
  font-size: 30px;

}


#circle {
  position: absolute;
  overflow: hidden;
  margin: -25px;
  z-index: 3;
}

#circle text {
  font-family: var(--font-family-roobert-medium), Arial;
  font-size: 16.5px;
  font-weight: bold;
  fill: var(--neon-green);
}

#circle svg {
  animation: rotate 15s infinite linear;
}

.image-slider:hover {
  cursor: none;
}

.slider-cursor {
  opacity: 0;
    visibility: none;
    position: absolute;
    width: 20px;
    height: 20px;
    transition-timing-function: cubic-bezier(.23,1,.32,1);
    transition-duration: .1s;
  font-size: 50px;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  font-family: var(--font-family-blogh);
  color: var(--neon-green);
  mix-blend-mode: difference;
}

.sliderNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  max-width: 40%;
  margin: 0 auto;

}

.sliderNav .oval {
  cursor:pointer;
  transition: transform 1s;
}

.sliderNav .oval {

}

.sliderNav .active {
  transform: translateY(-15px);
}


@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  
  }
}


