#awards {
    align-items: flex-start;
    display: flex;
    height: 70vh;
    max-width: 100vw;;
    overflow: hidden;
  }

.col4 {
    height: 50vh;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
  }

  .col1 {
    height: 100vh;
    width: 10vw;
    text-align: center;
    margin: 25px 35px;
   }

.itv-studios-how-to {
    font-weight: 500;
    left: 1849px;
    letter-spacing: -0.83px;
    line-height: 73px;
    top: 1900px;
    white-space: nowrap;
    width: 1081px;
  }
  
  .now-play-this-at-som {
    font-weight: 500;
    left: 1849px;
    letter-spacing: -0.83px;
    line-height: 73px;
    top: 2062px;
    white-space: nowrap;
    width: 1081px;
  }
  
  .london-design-festiv {
    font-weight: 500;
    left: 1849px;
    letter-spacing: -0.83px;
    line-height: 73px;
    top: 2229px;
    white-space: nowrap;
    width: 1081px;
  }
  
  .london-design-festiv-1 {
    font-weight: 500;
    left: 1849px;
    letter-spacing: -0.83px;
    line-height: 73px;
    top: 2381px;
    white-space: nowrap;
    width: 1081px;
  }
  
  .awards-and-press {
    color: var(--vermilion);
    font-family: var(--font-family-gtalpinatrial-mediumitalic);
    font-size: var(--font-size-s);
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 55px;
    align-items: flex-start;
    align-self: center;
    display: flex;
    height: 48vh;
    max-width: 100vw;
    overflow: hidden;
    margin-right: 60px;
    
  }

  #awards {
    align-items: flex-start;
    background: var(--pale-blue);
  }

.thin-line-less-margin {
    height: 1px;
    width: 100%;
    background: var(--vermilion);
    margin: 10px 0 10px 0;
}   