//import fuinctions

@import '../../styles/functions.scss';

.header {
	padding-left: clamp-font(20, 120, 500, 1920);
	padding-right: clamp-font(20, 120, 500, 1920);
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: var(--color-azure);

	.solar {
		opacity: 0;
	}

	.time {
		font-size: 1.2rem;
		font-weight: bold;
		transition: all 0.5s ease;
	
		&.glow {
			// color: #00ff00; // Neon green color, adjust as needed
			text-shadow: 0 0 10px #f1c40f, 0 0 20px #f1c40f, 0 0 30px #f1c40f, 0 0 40px #f1c40f;
		}
	}
	
	.solar {
		margin-left: 10px;
	
		// .icon-moon {
		// 	color: #f1c40f; // Yellowish moon color
		// }
	}
	
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

	ul {
		display: flex;
		gap: 32px;
		align-items: center;

		li {
			color: var(--color-vermilion);
			font-size: clamp-font(16, 24, 500, 1920);
			font-family: var(--font-roobert-regular);

			&:last-child {
				@include breakpoint('md') {
                    display: none;
                }
			}

			&:not(:last-child):not(:nth-last-child(2)) {
				@media screen and (max-width: 768px) {
					display: none;
				}
			}
		}
	}

    .time {
        display: flex;
        gap: 16px;
    }
}
