//import fuinctions

@import '../../styles/functions.scss';

.header {
	padding-left: clamp-font(20, 120, 500, 1920);
	padding-right: clamp-font(20, 120, 500, 1920);
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: var(--color-azure);

	.solar {
		opacity: 0;
	}

	// .time {
	// 	font-size: 1.2rem;
	// 	font-weight: bold;
	// 	transition: all 0.5s ease;

	// 	&.glow {
	// 		// color: #00ff00; // Neon green color, adjust as needed

	// 		span {
	// 			&:first-child {
	// 				text-shadow: 5px 3px 30px var(--vermilion);
	// 				transition: text-shadow 1s ease-in 3s;
	// 				transition-delay: 1s;
	// 			}

	// 			&:last-child {
	// 				animation: moon-rise 2.5s ease forwards;
	// 			}
	// 		}
	// 	}
	// }

	.time {
		font-size: 1.2rem;
		font-weight: bold;
		transition: all 0.5s ease;

		span {
			font-family: var(--font-geist-mono);
			font-weight: 400;
		}

		&.glow {
			span {
				&:first-child {
					// Unified glow effect
					color: var(--vermilion);
					text-shadow:
						0 0 8px rgba(255, 69, 0, 0.9),
						0 0 15px rgba(255, 69, 0, 0.7),
						0 0 30px rgba(255, 69, 0, 0.5);
					-webkit-text-stroke: 0.5px rgba(255, 69, 0, 0.4); // For Safari boldness
					font-smoothing: antialiased; // Improves rendering
				}

				&:last-child {
					animation: moon-rise 2.5s ease forwards;
				}
			}
		}
	}
	.solar {
		margin-left: 10px;

		// .icon-moon {
		// 	color: #f1c40f; // Yellowish moon color
		// }
	}
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

	ul {
		display: flex;
		gap: 32px;
		align-items: center;

		li {
			color: var(--color-vermilion);
			font-size: clamp-font(16, 24, 500, 1920);
			font-family: var(--font-roobert-regular);

			&:last-child {
				@include breakpoint('md') {
					display: none;
				}
			}

			&:not(:last-child):not(:nth-last-child(2)) {
				@media screen and (max-width: 768px) {
					display: none;
				}
			}
		}
	}

	.time {
		display: flex;
		gap: 16px;
	}
}

.copy-email-button {
	.email-copied {
		display: none !important;
	}

	.ready-to-hire {
		display: inline-block !important
	}

	&.active {
		.email-copied {
			display: inline-block !important;
		}

		.ready-to-hire {
			display: none !important;
		}
	}
}

@keyframes moon-rise {
	0% {
		opacity: 0%;
		transform: translateY(50px);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		opacity: 100%;
		transform: translateY(-3px);
	}
}
