#about {
  align-items: center;
}

.my-client-based-work {
  margin: auto auto 100px auto;
  line-height: 75px;
}

.rectangle-2 {
  background-color: var(--vermilion);
  height: 110vh;
  width: 100%;
  border-radius: 30px;
}

.expanded-about {
  height: 125vh;

}

#about-text {
  align-items: center;
}

#awards .col3 {
  height: 100vh;
}

.blogh, .blogh-red {
  font-family:  var(--font-family-blogh);
  font-size: 70px;
  line-height: 90px;
}

#blogh-external-link {
  text-decoration: none;
  display: inline;
  border-bottom: 8px solid var(--pale-blue);;
  color: var(--pale-blue);
  fill: var(--pale-blue);
}

#blogh-external-link:hover {
  text-decoration: none;
  display: inline;
  border-bottom: 8px solid var(--neon-green);
  color: var(--neon-green);
  fill: var(--neon-green);

}

.about-button-group {
    display: flex;
    margin: 46px 0px;
  }

.about-button-group>div {
    margin-right: auto;
}